In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
wine=pd.read_csv('data1/wineq.csv')
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [22]:
wine.shape

(6497, 13)

In [23]:
wine.size

84461

In [24]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [25]:
# Number of missing values in each column of training data
missing_val = (wine.isnull().sum())
print(missing_val)

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [26]:
print(missing_val[missing_val>0])

fixed acidity       10
volatile acidity     8
citric acid          3
residual sugar       2
chlorides            2
pH                   9
sulphates            4
dtype: int64

In [27]:
#fill missing value with their mean value
wine.fillna(wine.mean(), inplace=True)
#Checking for updates on missing values 
missing_val = (wine.isnull().sum())
print(missing_val)

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [28]:
wine['type'].unique()

array(['white', 'red'], dtype=object)

In [32]:
#converting categorical to numerical
wine['type']=pd.get_dummies(wine['type'],drop_first=True)
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,1,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,1,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,1,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [43]:
X=wine.iloc[:,:-1].values
y=wine.iloc[:,1].values
print(X,y)

[[ 1.     7.     0.27  ...  3.     0.45   8.8  ]
 [ 1.     6.3    0.3   ...  3.3    0.49   9.5  ]
 [ 1.     8.1    0.28  ...  3.26   0.44  10.1  ]
 ...
 [ 0.     6.3    0.51  ...  3.42   0.75  11.   ]
 [ 0.     5.9    0.645 ...  3.57   0.71  10.2  ]
 [ 0.     6.     0.31  ...  3.39   0.66  11.   ]] [7.  6.3 8.1 ... 6.3 5.9 6. ]

In [47]:
#standardize the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(wine.drop('quality',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [48]:
# start with modelling
# split data into train and test
from sklearn.model_selection import train_test_split
X=wine.drop('quality',axis=1)
y=wine['quality']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [55]:
#linear regression
from sklearn.linear_model import LinearRegression
r=LinearRegression()
r.fit(X_train,y_train)
#acurracy
r=r.score(X_test,y_test)
print(r)

0.30713785074200517

In [59]:
#svm
from sklearn.svm import SVC
svm=SVC()
svm.fit(X_train,y_train)
svm=svm.score(X_test,y_test)
print(svm)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.5441025641025641

In [66]:
# random forest
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)
rf=rf.score(X_test,y_test)
print(rf)

0.678974358974359

In [62]:
# knn
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
knn=knn.score(X_test,y_test)
print(knn)

0.4682051282051282

In [63]:
models = pd.DataFrame({
    'Model': ['Linear Regression', 'KNN', 'SVM', 
              'Random Forest'],
    'Score': [r,knn,svm,rf]})
# show all the models 
models.sort_values(by='Score', ascending=False)

               Model     Score
3      Random Forest  0.681538
2                SVM  0.544103
1                KNN  0.468205
0  Linear Regression  0.307138